* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

img {
    height: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    max-height: 100vh;
}

.sidebar {
    background-color: #3b82f6;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    min-height: 100vh;
}

.header {
    background-color: #eff6ff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    padding-left: 2%;
    padding-right: 2%;
}

.header1 {
    display: grid;
    background-color: #eff6ff;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.header2{
    display: grid;
    background-color: #eff6ff;
    grid-template-columns: 1fr 2fr repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.header2 button{
    background-color: #3b82f6;
    color: white;
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    font-weight: bold;
}

.main-content {
    background-color: #e0e7ff;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, minmax(30px, 40px));
    padding: 8%;
}

.sidebar-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    align-items: center;
}

.side-content1 {
    grid-row: 1 / 2;
    font-size: 1.2em;
}

.side-content2 {
    grid-row: 3 / 4;
}

.side-content3 {
    grid-row: 4 / 5;
}

.side-content4 {
    grid-row: 5 / 6;
}

.side-content5 {
    grid-row: 6 / 7;
}

.side-content6 {
    grid-row: 7 / 8;
}

.side-content7 {
    grid-row: 9 / 10;
}

.side-content8 {
    grid-row: 10 / 11;
}

.side-content9 {
    grid-row: 11 / 12;
}

.side-content10 {
    grid-row: 12 / 13;
}

.sidebar p {
    font-size: 1.4em;
}

.search-bar {
    background-color: lightgrey;
    border-radius: 25px;
    height: 40%;
    width: 80%;
}

#notifications {
    grid-column: 4 / 5;
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.main-projects {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.main-announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.content-card {
    display: grid;
    grid-template-columns: 10px 3fr repeat(3, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    border-radius: 5%;
    height: 200px;
    /* width: 400px; */
    background-color: white;
}

.icon1,
.icon2,
.icon3 {
    grid-row: 3 / 4;
}

.icon1 {
    grid-column: 3 / 4;
}

.icon2 {
    grid-column: 4 / 5;
}

.icon3 {
    grid-column: 5 / 6;
}

.card-color {
    background-color: darkorange;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border-radius: 15px 0 0 15px;
}

.card-lorem {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    padding-left: 15px;
    font-size: 0.9em;
    color: rgb(97, 97, 97);
}

.main-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 20px 1fr;
    gap: 5%;
    margin-left: 30px;
    margin-right: 30px;
}

.your-projects-p {
    grid-column: 1 / -1;
    height: 20px;
    font-size: 1.3em;
    padding: 5px;
    font-weight: bold;
}

.announcements-p {
    height: 20px;
    font-size: 1.3em;
    font-weight: bold;
}

.card-head {
    padding-top: 15px;
    padding-left: 5px;
    display: flex;
    align-items: end;
    font-size: 1em;
}

.main-announcements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px repeat(3, 200px);
}

.announcement {
    display: grid;
    grid-template-rows: repeat(2, 50px);
    background-color: white;
    padding: 2% 7%;
}

.announcementh3 {
    display: flex;
    align-items: end;
}