* {
    padding: 0;
    margin: 0;
}

img {
    height: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    max-height: 100vh;
}

.sidebar {
    background-color: #3b82f6;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.header {
    background-color: #eff6ff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content {
    background-color: #e0e7ff;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}