* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

img {
    height: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    max-height: 100vh;
}

.sidebar {
    background-color: #3b82f6;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.header {
    background-color: #eff6ff;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.header1 {
    display: grid;
    background-color: #eff6ff;
    grid-template-columns: 1fr 4fr repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.main-content {
    background-color: #e0e7ff;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, minmax(30px, 50px));
    padding: 8%;
}

.sidebar-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 0;
    align-items: center;
}

.side-content1 {
    grid-row: 1 / 2;
    font-size: 1.2em;
}

.side-content2 {
    grid-row: 3 / 4;
}

.side-content3 {
    grid-row: 4 / 5;
}

.side-content4 {
    grid-row: 5 / 6;
}

.side-content5 {
    grid-row: 6 / 7;
}

.side-content6 {
    grid-row: 7 / 8;
}

.side-content7 {
    grid-row: 9 / 10;
}

.side-content8 {
    grid-row: 10 / 11;
}

.side-content9 {
    grid-row: 11 / 12;
}

.side-content10 {
    grid-row: 12 / 13;
}

.sidebar p {
    font-size: 1.4em;
}

.search-bar {
    background-color: lightgrey;
    border-radius: 25px;
    height: 80px;
}

#notifications{
    grid-column: 4 / 5;
}

#profilePicture{

}

#username{

}